-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: TRANSPORTATION
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_supervisor`
--

DROP TABLE IF EXISTS `authentication_supervisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_supervisor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `employee_id` varchar(50) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `phone_number` varchar(50) NOT NULL,
  `email` varchar(90) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_admin` tinyint(1) NOT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `last_login` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `phone_number` (`phone_number`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_supervisor`
--

LOCK TABLES `authentication_supervisor` WRITE;
/*!40000 ALTER TABLE `authentication_supervisor` DISABLE KEYS */;
INSERT INTO `authentication_supervisor` VALUES (1,'pbkdf2_sha256$870000$PiS8EXdwo9DRRF6ELuQ4Lt$DstMYSWfR4Io2kEzoh7PwExotzbPMTsye3nhGpiByvg=','admin','Abrar','Zaved','01728150570','abrarzaved2002@gmail.com',1,1,1,1,'2025-02-15 07:09:22.653835','2025-02-15 12:26:13.039425');
/*!40000 ALTER TABLE `authentication_supervisor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_authentic` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_supervisor` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(6,'authentication','supervisor'),(4,'contenttypes','contenttype'),(5,'sessions','session'),(7,'transit_hub','bus'),(8,'transit_hub','driver'),(9,'transit_hub','route'),(11,'transit_hub','routestoppage'),(10,'transit_hub','stoppage'),(12,'transport_manager','transportation_schedules');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('vt5w4is5bwho0kfz1zo814xqs29a07q7','.eJxVjMsOwiAQRf-FtSHgDI-6dO83kAGmUjWQlHZl_HfbpAvdnnPufYtA61LC2nkOUxYXocXpl0VKT667yA-q9yZTq8s8Rbkn8rBd3lrm1_Vo_w4K9bKtCSCzIkxnspC9opFROefYREjRg9WGCckNA2sYlUGLZkOaAb13PorPF-g_N3E:1tjCIt:L8qxWcimpTnuOYVULtW7LUo3BuxMJrPI_KgwiV27YT4','2025-03-01 07:09:31.151659');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transit_hub_bus`
--

DROP TABLE IF EXISTS `transit_hub_bus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transit_hub_bus` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `bus_name` varchar(100) NOT NULL,
  `bus_number` varchar(30) NOT NULL,
  `bus_model` varchar(30) NOT NULL,
  `bus_capacity` int NOT NULL,
  `bus_photo` varchar(100) NOT NULL,
  `bus_status` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transit_hub_bus_bus_name_bus_number_39582fb6_uniq` (`bus_name`,`bus_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transit_hub_bus`
--

LOCK TABLES `transit_hub_bus` WRITE;
/*!40000 ALTER TABLE `transit_hub_bus` DISABLE KEYS */;
/*!40000 ALTER TABLE `transit_hub_bus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transit_hub_driver`
--

DROP TABLE IF EXISTS `transit_hub_driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transit_hub_driver` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `first_name` varchar(30) NOT NULL,
  `last_name` varchar(30) NOT NULL,
  `phone_number` varchar(15) NOT NULL,
  `license_number` varchar(30) NOT NULL,
  `license_expiry` date NOT NULL,
  `license_class` varchar(10) NOT NULL,
  `license_country` varchar(30) NOT NULL,
  `license_issued` date NOT NULL,
  `license_photo` varchar(100) DEFAULT NULL,
  `driver_photo` varchar(100) DEFAULT NULL,
  `driver_status` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transit_hub_driver_phone_number_license_number_fddd51f9_uniq` (`phone_number`,`license_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transit_hub_driver`
--

LOCK TABLES `transit_hub_driver` WRITE;
/*!40000 ALTER TABLE `transit_hub_driver` DISABLE KEYS */;
/*!40000 ALTER TABLE `transit_hub_driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transit_hub_route`
--

DROP TABLE IF EXISTS `transit_hub_route`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transit_hub_route` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `route_name` varchar(100) NOT NULL,
  `route_number` varchar(30) NOT NULL,
  `route_status` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `from_dsc` tinyint(1) NOT NULL,
  `to_dsc` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transit_hub_route_route_name_route_number_c4ee4237_uniq` (`route_name`,`route_number`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transit_hub_route`
--

LOCK TABLES `transit_hub_route` WRITE;
/*!40000 ALTER TABLE `transit_hub_route` DISABLE KEYS */;
/*!40000 ALTER TABLE `transit_hub_route` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transit_hub_routestoppage`
--

DROP TABLE IF EXISTS `transit_hub_routestoppage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transit_hub_routestoppage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `route_id` bigint NOT NULL,
  `stoppage_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `transit_hub_routesto_stoppage_id_6400db9e_fk_transit_h` (`stoppage_id`),
  KEY `transit_hub_routestoppage_route_id_56efa909` (`route_id`),
  CONSTRAINT `transit_hub_routesto_route_id_56efa909_fk_transit_h` FOREIGN KEY (`route_id`) REFERENCES `transit_hub_route` (`id`),
  CONSTRAINT `transit_hub_routesto_stoppage_id_6400db9e_fk_transit_h` FOREIGN KEY (`stoppage_id`) REFERENCES `transit_hub_stoppage` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=424 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transit_hub_routestoppage`
--

LOCK TABLES `transit_hub_routestoppage` WRITE;
/*!40000 ALTER TABLE `transit_hub_routestoppage` DISABLE KEYS */;
/*!40000 ALTER TABLE `transit_hub_routestoppage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transit_hub_stoppage`
--

DROP TABLE IF EXISTS `transit_hub_stoppage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transit_hub_stoppage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `stoppage_name` varchar(100) NOT NULL,
  `stoppage_status` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stoppage_name` (`stoppage_name`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transit_hub_stoppage`
--

LOCK TABLES `transit_hub_stoppage` WRITE;
/*!40000 ALTER TABLE `transit_hub_stoppage` DISABLE KEYS */;
/*!40000 ALTER TABLE `transit_hub_stoppage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transport_manager_transportation_schedules`
--

DROP TABLE IF EXISTS `transport_manager_transportation_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transport_manager_transportation_schedules` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `departure_time` datetime(6) NOT NULL,
  `schedule_status` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `bus_id` bigint NOT NULL,
  `driver_id` bigint NOT NULL,
  `route_id` bigint NOT NULL,
  `audience` varchar(20) NOT NULL,
  `from_dsc` tinyint(1) NOT NULL,
  `to_dsc` tinyint(1) NOT NULL,
  PRIMARY KEY (`schedule_id`),
  UNIQUE KEY `transport_manager_transp_schedule_id_route_id_bus_c4cb6d8f_uniq` (`schedule_id`,`route_id`,`bus_id`,`driver_id`),
  KEY `transport_manager_tr_bus_id_2b6f28af_fk_transit_h` (`bus_id`),
  KEY `transport_manager_tr_driver_id_ee14fd5d_fk_transit_h` (`driver_id`),
  KEY `transport_manager_tr_route_id_22603e8a_fk_transit_h` (`route_id`),
  CONSTRAINT `transport_manager_tr_bus_id_2b6f28af_fk_transit_h` FOREIGN KEY (`bus_id`) REFERENCES `transit_hub_bus` (`id`),
  CONSTRAINT `transport_manager_tr_driver_id_ee14fd5d_fk_transit_h` FOREIGN KEY (`driver_id`) REFERENCES `transit_hub_driver` (`id`),
  CONSTRAINT `transport_manager_tr_route_id_22603e8a_fk_transit_h` FOREIGN KEY (`route_id`) REFERENCES `transit_hub_route` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transport_manager_transportation_schedules`
--

LOCK TABLES `transport_manager_transportation_schedules` WRITE;
/*!40000 ALTER TABLE `transport_manager_transportation_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `transport_manager_transportation_schedules` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-19 17:51:16
